.infoCard {
  position: absolute;
  top: 1%;
  left: 2%;
  width: 300px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 10;
  max-height: 70vh;
}

@media (max-width: 768px) {
  .infoCard {
    width: auto;
    left: 0;
    right: 0;
    margin: 10px 10px;
    top: 0%;
    max-height: 60vh;
  }
}

.closeButton {
  min-width: 24px !important;
  min-height: 24px !important;
  margin-top: 4px !important;
}

.title {
  margin-top: 4px;
}
